@font-face {
  font-family: "scp";
  font-weight: normal;
  font-style: normal;
  src: url('scp/scp.eot?1394301137') format("embedded-opentype");
  src: url('scp/scp.eot?1394301137#iefix') format("embedded-opentype"), url('scp/scp.woff?1394301137') format("woff"), url('scp/scp.ttf?1394301137') format("truetype");
}
